<ion-content padding>
  <div style="min-height: 56px;"></div>

  <ion-card>
    <img src="../../assets/imgs/cropped-img_1320.jpg"/>
    <ion-card-content>
      <ion-card-title>
        OBSERVATÓRIO DO SANEAMENTO AMBIENTAL DO RECIFE (OSAR)
      </ion-card-title>
      <p text-justify>
        O saneamento ambiental pode ser compreendido como um conjunto de infraestruturas e ações para melhorar a qualidade de vida da população. Neste sentido, o Observatório do Saneamento Ambiental do Recife (OSAR) é uma iniciativa de dois ativistas, Demétrius Rodrigues de Freitas Ferreira e Cláudio Luis Alves Monteiro (equipe), preocupados com as condições sanitárias, urbanísticas e ambientais do Recife.
        <br><br>
        O objetivo do OSAR é proporcionar visibilidade de fácil acesso a estudos científicos, propostas técnicas, políticas públicas, práticas locais (individuais e coletivas) e diferentes narrativas que tenham como eixo central o tema em questão.
        <br><br>
        O acesso a água, esgotamento sanitário, drenagem e coleta de lixo adequados implicam em diversas consequências na vida dos indivíduos. Ter acesso a água encanada é elementar para o consumo do organismo, higiene pessoal, lavagem e cozimento de alimentos, dentre outros. Já o acesso a esgotamento sanitário proporciona o escoamento dos dejetos e rejeitos humanos de forma adequada, rompendo com o ciclo de proliferação de doenças e de degradação ambiental. A drenagem favorece o escoamento das águas pluviais, evitando alagamentos e a proliferação de doenças, tão comuns em grandes centros urbanos. A coleta de lixo adequada favorece a salubridade urbana e evita a proliferação de vetores de doenças, prejudiciais à saúde pública.
        <br><br>
        Além da importância dos serviços públicos acima descritos, vinculados a definição de saneamento proposta pela Lei Federal nº11.445/2007, vale ressaltar a importância sociocultural que a água (insumo básico dos serviços de abastecimento de água e coleta de esgoto) tem na vida social recifense, fazendo parte do nosso cotidiano paisagístico-cultural (rios Capibaribe e Beberibe com seus manguezais) e econômico, abrigando parcela da população em seu leito que subsistem direta ou indiretamente de suas águas, além das atividades religiosas como as procissões para São Pedro realizadas na foz do Capibaribe.
        <br><br>
        É de conhecimento comum que na cidade do Recife a precariedade do serviço público de saneamento implica em uma série de consequências socioambientais indesejáveis que apresentam reflexos direto na saúde pública, no meio ambiente e no bem-estar urbano local, a exemplo da poluição da maior parte de seus cursos hídricos. Essa realidade, tão marcante, exerce efeitos deletérios sobre a nossa sociedade, favorecendo padrões de urbanização insalubres, aumentando a vulnerabilidade à doenças de veiculação hídrica e potencializando a proliferação de vetores de doenças.
        <br><br>
        Tais fatores poderiam ser minimizadas em função da existência universal do acesso ao saneamento, que desde 2010 é reconhecido pela Organização das Nações Unidas (ONU) como um direito humano fundamental. No entanto, a lamentável persistência da precariedade sanitária no Recife que atualmente apresenta interrupções constantes no fornecimento de água e um índice de coleta de esgoto de apenas 27% de acordo com o Sistema Nacional de Informação Sobre Saneamento (SNIS, 2015), nos motivou a lançar o OSAR como uma tentativa de contribuir para reverter essa realidade, produzindo informações sobre os diferentes eixos centrais que contemplam o tema saneamento:
        <br>
        1. Abastecimento de água;
        <br>
        2. Esgotamento sanitário;
        <br>
        3. Drenagem
        <br>
        4. Gestão de Resíduos sólidos.
        <br><br>
        Apesar da existência de vários movimentos sociais e iniciativas que apontam a questão sanitária como condição sine qua non para a melhoria da qualidade ambiental, a existência de espaços de debate e difusão ainda é limitada. Deste modo, o OSAR, como uma plataforma virtual é acessível a qualquer cidadão ou instituição interessada no debate sobre saneamento no Recife.
        <br><br>
        Espera-se que essa iniciativa possa informar melhor a sociedade sobre a complexidade e importância do serviço público de saneamento, bem como contribuir para que gestores públicos e formuladores de políticas públicas possam tomar contato com diferentes ideias e propostas para a construção da sustentabilidade urbano-ambiental.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-footer>
