<ion-content padding>
  <div style="min-height: 56px;"></div>

  <ion-card>
    <ion-card-content text-center>
      <ion-img width="152px" height="100px" src="../../assets/imgs/osar_fundo-transparente1.png"></ion-img>
      <ion-card-title>
        OBSERVATÓRIO DE SANEAMENTO E MEIO AMBIENTE DO RECIFE
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-footer>
