<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu' primary></ion-icon>
    </button>
    <ion-title>
      Cadê a Água?
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuToggle (click)="openPage(rootPage)">
        <ion-icon name='home'></ion-icon>
        Inicial
      </button>
      <button ion-item menuToggle (click)="openPage(wastePage)">
        <ion-icon name="water"></ion-icon>
        Reportar desperdício
      </button>
      <button ion-item menuToggle (click)="openPage(lackPage)">
        <ion-icon name="water"></ion-icon>
        Reportar falta de água
      </button>
      <button ion-item menuToggle (click)="openPage(aboutPage)">
        <ion-icon name='information-circle'></ion-icon>
        Sobre o OSAR
      </button>
      <button ion-item menuToggle> (click)="closeMenu()">
        Voltar...
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
